# Misc
.DS_Store
*/.DS_Store
*.swp

# Logs
logs
*.log
package-lock.json
.cache/

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
.storybook

## IDE **
.idea/

### Build files ###
dist/
build/
